{% extends "salina/base.html" %}
{% load i18n %}
{% load salinatags %}

{% block pagetitle %}{% trans "Atelier" %} - {{product_group.name_text.get_current_translation}}{% endblock %}
{% block pageheading %}{{product_group.name_text.get_current_translation}}{% endblock %}

{% block content %}

<div id="productGroupMenu">
    <ul class="menu">
    {% for product_group in product_groups %}
        <li>
            <a class="{% url_equals atelier_group product_group.group_id %}" href="{% url atelier_group product_group.group_id %}">
                {{product_group.name_text.get_current_translation}}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

<table>
    {% for product in products %}
    <tr>
        <th colspan="3">{{product.name_text.get_current_translation}}</th>
    </tr>
    <tr>
        <th></th>
        <th>{% trans "Time" %}</th>
        {% for material_column in product.material_columns.all %}
        <th>{{material_column.get_text_translated}}</th>
        {% endfor %}
        <th>{% trans "Cost" %}</th>
    </tr>
    {% for product_part in product.parts.all %}
    <tr>
        <td>{{product_part.name_text.get_current_translation}}</td>
        <td class="right">{{product_part.time_min|minutes_to_hours}}</td>
        {% for product_column in product_part.get_columns %}
        <td>
        {% if product_column %}
        {{product_column.get_text_translated}}
        {% else %}
        -
        {% endif %}
        </td>
        {% endfor %}
        <td class="right">{{product_part.price}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td class="right">{{product.get_total_time|minutes_to_hours}}</td>
        <td colspan="{{ product.material_columns.all.count }}"></td>
        <td class="right">{{product.get_total_price}}</td>
    </tr>
    
    {% endfor %}
</table>

{% endblock %}
