{% extends "salina/base.html" %}
{% load i18n %}
{% load salinatags %}

{% block pagetitle %}{% trans "Atelier" %}{% endblock %}
{% block pageheading %}{% trans "Atelier" %}{% endblock %}

{% block content %}

<div id="productGroupMenu">
    <ul class="menu">
    {% for product_group in product_groups %}
        <li>
            <a href="{% url atelier_group product_group.group_id %}">
                {{product_group.name_text.get_current_translation}}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

{% cms_text atelier-top %}

{% endblock %}
