@CHARSET "utf-8";

html {
	padding: 0em;
	margin: 0em;
	border: 0em;
	height: 100%;
}

body {
	padding: 0em;
	margin: 0em;
	border: 0em;
	height: 100%;
	font-family: sans-serif;
	background-color: #f2efe0;
}

h1, h2, h3 {
	font-family: arial;
	font-weight: bold;
	margin: 0em;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

p, table {
	font-family: arial;
	text-align: justify;
	font-size: 12pt;
	margin: 1em 0em;
	padding: 0px;
}

table, tr, td, th {
	border: 0px;
	margin: 0px;
	border-collapse: separate;
	border-spacing: 0px;
	text-align: left;
	vertical-align: top;
}

td, th {
	padding: .1em 2em .1em 0em;
}

/* *************************************************************** */

.centering {
	width: 900px;
    margin: 0em auto;
    border: 0em none;
}

#rootwrap {
	min-height: 100%;
	/* background-color: #bb2853; */
	background-color: #9d223c;
}

#topwrap {
    padding: 0em 60px;
    background-color: #faa501;
    background-image: url("../img/bg_gradient50.png");
    background-repeat: repeat-x;
    background-position: 0% 0%;
}

#header {
	padding: 20px 0em 0em;
}

#header h1 {
	padding: 32px 32px 24px;
	font-family: arial;
	font-size: 32pt;
	background-color: #684707;
	color: #FFF;
}

#topmenu, #topmenu ul, #topmenu li {
	padding: 0em;
	margin: 0em;
	list-style: none;
	list-style-type: none;
}

#topmenu {
	width: 100%;
	overflow: hidden;
	margin-top: -10px;
}

#topmenu ul {
	float: left;
	left: 50%;
	position: relative;
}

#topmenu li {
	float: left;
	position: relative;
	right: 50%;
	margin: 0em 2px 0em;
}

#topmenu a, #topmenu a:HOVER, #topmenu a:ACTIVE, #topmenu a:VISITED {
	display: block;
	padding: .5em 1em;
	min-width: 6em;
	
	background-color: #bd2954;
	color: #FFF;
	
	font-size: 11pt;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

#topmenu a.selectedLink {
	text-decoration: underline;
}

#content {
	padding: 0em 0em 2em;
}

#footer {
    padding: 1em 60px;
	height: 5em;
	background-color: #9d223c;
	background-image: url("../img/footer_gradient.png");
    background-repeat: repeat-x;
    background-position: 0% 0%;
}

.shadow, #header h1, .cmscontainer {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.right {
	text-align: right;
}