@CHARSET "utf-8";

body, html {
	padding: 0em;
	margin: 0em;
	border: 0em;
	
	font-family: sans-serif;
	color: #242424;
	
	background-color: #dfb374;
}

h1, h2, h3 {
	font-family: Consolas, Inconsolata, "Lucida Console", "Courier New", monospace;
	font-weight: bold;
	margin: 0em;
	color: #465864;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

div, img, a {
	padding: 0em;
	margin: 0em;
	border: 0px none;
}

img {
	display: block;
	float: none;
}

p, table {
	font-family: arial;
	text-align: justify;
	font-size: 12pt;
	margin: 1em 0em;
	padding: 0px;
}

table, tr, td, th {
	border: 0px;
	margin: 0px;
	border-collapse: separate;
	border-spacing: 0px;
	text-align: left;
	vertical-align: top;
}

td, th {
	padding: .1em 2em .1em 0em;
}

/* *************************************************************** */

.centering {
	width: 720px;
    margin: 0em auto;
}

.right {
	text-align: right;
}

.clear {
	clear: both;
}

.menu {
	font-family: Consolas, Inconsolata, "Lucida Console", "Courier New", monospace;
	font-weight: bold;
}

ul.menu, ul.menu li {
	padding: 0em;
	margin: 0em;
	list-style: none;
	list-style-type: none;
}

/* *************************************************************** */

#rootwrap {
	overflow: hidden;
	width: 100%;

	background-color: #fff;
}

#header {
	padding: 2em 0em 0em;
}

#header h1 {
	position: relative;
	height: 105px;
	
	background-image: url("../img/logo.png");
	background-position: 100% 100%;
	background-repeat: no-repeat;
}

#header h1 img {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#topmenu {
	padding: 2em 0em 0em;
	margin: 1em 0em 0em;
	border-top: 3px solid #dfb374;
	
	overflow: hidden;
	width: 100%;

	font-size: 12pt;
}

#topmenu ul {
	float: left;
	position: relative;
	left: 50%;
}
#topmenu li {
	position: relative;
	right: 50%;
}

#topmenu li {
	float: left;
	padding: 0em 1em;
}

#topmenu a:LINK, #topmenu a:VISITED {
	display: block;
	padding: .5em 1em;
	
	background-color: #fff;
	color: #dfb374;
	
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

#topmenu a:HOVER {
	background-color: #ddd;
	color: #fff;
}

#topmenu a.selectedLink {
	background-color: #dfb374;
	color: #fff;
}

#content {
	position: relative;
	overflow: visible;
	min-height: 20em;
}

#contentpadding {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

#footer {
	overflow: hidden;
    padding: 2em 0em 2em;
	
	background-color: #dfb374;
	color: #fff;
	font-size: 10pt;
}

#footer h2 {
	color: #fff;
}

#footer p {
	margin: 0em;
	padding: 1em 0em 0em;
}

#footer_1 {
	float: left;
	width: 50%;
}

#footer_2 {
	float: right;
	width: 50%;
}

#footer_2 p {
	text-align: right;
	clear: both;
}

#footer_2 a {
	margin: 0em 0em 0em .5em;
	display: block;
	float: right;
}
