@CHARSET "utf-8";

.cmscontainer {
	margin: 2em 0em 0em;
	padding: 1.5em 40px;
	clear: both;
	background-color: #684707;
	color: #FFF;
}

.cmscontainer h1:first-child {
	margin-top: 0em;
}

.cmscontainer h1 {
	margin-top: 1em;
	margin-bottom: .5em;
}

.cmscontainer p {
	margin-top: 1em;
}

.product_group h2 {
	margin-top: 1em;
}