@CHARSET "utf-8";

#content h1 {
	margin: 1em 0em .5em;
}

#content a {
	color: #dfb374;
	font-family: Consolas, Inconsolata, "Lucida Console", "Courier New", monospace;
	font-weight: bold;
	text-decoration: none;
	font-size: 11pt;
}

.columns_2 {
	overflow: hidden;
	width: 100%;
}

.columns_2 > div {
	width: 47%;	
	overflow: hidden;
	float: right;
}

.columns_2 > div:FIRST-CHILD {
	float: left;
}

#productGroupMenu {
	position: absolute;
	top: 0px;
	right: 100%;
	left: -100%;
	padding: 2em 2em 0em 0em;
}

#productGroupMenu li {
	height: 2.2em;
}

#productGroupMenu a {
	display: block;
	float: right;
	padding: .5em 1em;
}

#productGroupMenu a:LINK, #productGroupMenu a:VISITED {
	background-color: #fff;
	color: #465864;
	
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

#productGroupMenu a:HOVER {
	background-color: #ddd;
	color: #fff;
}

#productGroupMenu a.selectedLink {
	background-color: #465864;
	color: #fff;
}

.productGroupDescription p {
	color: #FFF;
	background-color: #dfb374;
	padding: 1em;
}

.productGroupImages {
	overflow: hidden;
	width: 100%;
	margin: 1em 0em;
}

.productGroupImages img {
	float: left;
	width: 30%;
	margin-left: 5%;
}

.productGroupImages img:FIRST-CHILD {
	margin-left: 0%;
}
