{% extends "salina/base.html" %}
{% load i18n %}
{% load salinatags %}

{% block content %}


<div class="cmscontainer">
    <h1>
    {% trans "Password protected section" %}
    </h1>
    
    {% if form.errors %}
        <p class="error">{% trans "Invalid password" %}</p>
    {% endif %}
    
    <form action="" method="post">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}
        <input type="submit" value="{% trans 'Login' %}"/>
    </form>
</div>

{% endblock %}
