{% extends "salinaadmin/base.html" %}
{% load i18n %}
{% load salinatags %}

{% block content %}


<h1>
{% trans "Editing text" %}: {{ text.entry_id }}
</h1>

 
<form action="" method="post">
    {% csrf_token %}
    <table>
    <tr class="section">
        <th>{% trans "Description:" %}</th><td>{{ text.description }}</td>
    </tr>
    {% for locale_code, locale_name, transl in translations %}
    <tr>
        <th>{{locale_name}}</th>
        <td>
        {% if text.short %}
            <input type="text" name="text_{{locale_code}}" value="{% if transl %}{{transl.text}}{% endif %}"/>
        {% else %}
            <textarea name="text_{{locale_code}}" rows="20" cols="80">{% if transl %}{{transl.text}}{% endif %}</textarea>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    
    <div class="section">
        <input class="submit_button" type="submit" value="{% trans 'Save' %}"/>
        <a class="cancel_button" href="{% url admin_text_index %}">{% trans "Cancel" %}</a>
    </div>
</form>

{% endblock %}
