{% extends "salinaadmin/base.html" %}
{% load i18n %}
{% load salinatags %}

{% block content %}


<h1>
{% trans "Editing text" %}: {{ text.entry_id }}
</h1>

 
<div class="section">
    <table>
    <tr><th>{% trans "Description:" %}</th><td>{{ text.description }}</td></tr>
    <tr><th>{% trans "Language:" %}</th><td>{{ locale_name }}</td></tr>
    </table>
</div>

<form action="" method="post">
    {% csrf_token %}
    <div class="section">
        <textarea name="text" rows="20" cols="80">{{old_text}}</textarea>
    </div>
    <div class="section">
        <input class="submit_button" type="submit" value="{% trans 'Save' %}"/>
        <a class="cancel_button" href="{% url admin_text_index %}">{% trans "Cancel" %}</a>
    </div>
</form>

{% endblock %}
