{% extends "salinaadmin/base.html" %}
{% load i18n %}
{% load salinatags %}

{% block content %}


<h1>
{% trans "Manage site texts" %}
</h1>

<div class="section">
    <table>
    <tr>
        <th></th>
        <th>{% trans "Description" %}</th>
        {% for locale_code, locale_name in locales %}
        <th>{{locale_name}}</th>
        {% endfor %}
    </tr>
    
    {% for page in pages %}
    <tr class="text_group"><td colspan="3">{{page.description}}</td></tr>
    {% for text in page.get_texts %}
    <tr>
        <td></td>
        <td class="text_desc">{{text.description}}</td>
        {% for locale_code, transl in text.get_translation_entries_per_locale %}
        <td>
            {% if transl %}
            {% trans "Updated" %} {{transl.timestamp|date:"DATE_FORMAT"}}
            {% else %}
            <span class="error">{% trans "Unavailable" %}</span>
            {% endif %}
            (<a class="edit" href="{% url admin_text_locale_edit text.entry_id locale_code %}">{% trans "Edit" %}</a>)
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endfor %}
    
    <tr class="text_group"><td colspan="3">{% trans "Other" %}</td></tr>
    {% for text in unassigned_texts %}
    <tr>
        <td></td>
        <td class="text_desc">
            {{text.description}}
            {% if text.short %}
                (<a class="edit" href="{% url admin_text_edit text.entry_id %}">{% trans "Edit" %}</a>)
            {% endif %}
        </td>
        {% for locale_code, transl in text.get_translation_entries_per_locale %}
        <td>
            {% if transl %}
                {% if text.short %}
                    {{transl.text}}
                {% else %}
                    {% trans "Updated" %} {{transl.timestamp|date:"DATE_FORMAT"}}
                {% endif %}
            {% else %}
                <span class="error">{% trans "Unavailable" %}</span>
            {% endif %}
            {% if not text.short %}
                (<a class="edit" href="{% url admin_text_locale_edit text.entry_id locale_code %}">{% trans "Edit" %}</a>)
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    
    </table>
    
</div>

{% endblock %}
