@CHARSET "utf-8";

html {
	padding: 0em;
	margin: 0em;
	border: 0em;
	height: 100%;
}

body {
	padding: 0em;
	margin: 0em;
	border: 0em;
	height: 100%;
	font-family: sans-serif;
	background-color: #fadb9e;
	
	font-family: arial;
	text-align: left;
	font-size: 12pt;
}

h1, h2, h3 {
	font-family: arial;
	font-weight: bold;
	margin: 0em;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

table, tr, td, th {
	border: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: separate;
	border-spacing: 0px;
	text-align: left;
	vertical-align: top;
}

p, div.section, table {
	margin: 1em 0em;
}

td, th {
	padding: .1em 2em .1em 0em;
}

/* *************************************************************** */

#rootwrap {
    margin: 0em;
}

#header {
	padding: 0em;
}

#header h1 {
	padding: 32px 40px 18px;
	font-family: arial;
	font-size: 26pt;
	
	background-color: #9d223c;
	color: #EEE;
	
}

#header h1 a, #header h1 a:HOVER, #header h1 a:ACTIVE, #header h1 a:VISITED  {
	color: #EEE;
	font-style: normal;
	text-decoration: none;
}

#topmenu, #topmenu ul, #topmenu li {
	padding: 0em;
	margin: 0em;
	list-style: none;
	list-style-type: none;
}

#topmenu {
	float: left;
	margin: 0em;
	width: 100%;
	padding: .7em 0em .8em;
	/*background-color: #9d223c;*/

	background-image: url("../img/gradient1.png");
    background-repeat: repeat-x;
    background-position: 0% 0%;
}

#topmenu ul {
	padding-left: 40px;
}

#topmenu li {
	float: left;
	margin: 0em 2em 0em 0em;
}

#topmenu a, #topmenu a:HOVER, #topmenu a:ACTIVE, #topmenu a:VISITED {
	display: block;
	
	color: #000;
	
	/* font-size: 11pt; */
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}

#topmenu a:HOVER {
	color: #00F;
}

#topmenu a.selectedLink {
	font-style: italic !important;
}

#content {
	clear: both;
	padding: 2em 4em 1em;
}

tr.section td, tr.section th {
	padding-bottom: 1em;
}

.error {
	color: red;
}

.edit, .edit:VISITED {
	font-size: smaller;
	color: #00F;
}

tr.text_group td {
	font-size: smaller;
	padding-top: 1em;
}

.submit_button {
}

.cancel_button, .cancel_button:VISITED {
	margin-left: 1em;
	color: #00F;
}